/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2014, 4:50:12 PM
    Author     : Dean
*/

body {
    font-size: 19px;
    overflow-x: hidden;
}
.content_container {
    height: 100%;
}
#footer
{
    display: block;
    position: relative;
    bottom: 0px;
    width: 80%;
    margin: 0px auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.dataTable {
    position: relative;
    margin: 0px auto;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Override of Bootstrap*/
.container {
    width: 100%;
}
.content_container {

}
.form-signin {
    padding: 20px;
    margin: 0px auto;
    position: relative;
    width: 360px;
}.form-signin h2 {
    padding-bottom: 20px;
    font-size: 35px;
    text-align: center;
}.form-signin input, placeholder {
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}.form-signin label {
    display: inline;
    height: 45px;
    background-color: rgb(214, 214, 214);
    overflow: hidden;
    border-radius: 10px;
    width: calc(100% - 111px);
    font-size: 23px;
    line-height: 1.8;
    box-shadow: inset 0px 0px 5px 0px rgba(27, 27, 27, 0.23);
    margin-bottom: 40px;
    border: 1px solid rgb(165, 165, 165);
    margin-right: 11px;
    float: left;
}.form-signin label > input{
    height: 14px;
    position: relative;
    top: 10px;
    left: 20px;
}.form-signin label > span {
    margin-left: 30px;
}
.form-signin .btn {
    display: inline;
    background-color: #f3c351;
    background-image: none;
    font-size: 25px;
    box-shadow: inset 0px -4px 0 0px #CFA133;
    border: none;
    line-height: 1;
    padding-bottom: 14px;
    padding-top: 7px;
    float: right;
}
.view-label {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px 0px #dbdbdb;
}.view-label label {
    font-size: 22px;
    display: inline;
    color: rgb(175, 175, 175);
    padding-right: 5px;
    padding-left: 20px;
    position: relative;
    top: -12px;
}.view-label .value {
    font-size: 22px;
    position: relative;
    top: -12px;
}

table {
    background: #E7E6E0;
    margin: 20px;
}thead {
    font-size: 24px;
}thead tr:first-child {
    background-color: #F5F4EF !important;
}tr {
    background-color: #F1F1ED;
}tr:nth-child(2n+1) {
    background: #E7E6E0;
}td {
    max-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}






