/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2014, 4:50:12 PM
    Author     : Dean
*/
.menu {
   position: relative;
   font-size: 26px; 
}.menu a{
    color: rgb(0,0,0);
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px 0px #dbdbdb;
    padding-bottom: 16px;
    padding-top: 10px;
    margin-left: 20px;
    position: relative;
}.menu a:hover{
    background-color: #f3c351;
    box-shadow: inset 0px -4px 0 0px #CFA133;
}.menu .ship {
    padding-left: 65px;
    padding-right: 20px;
    background: white;
    background-image: url("../img/ship.png");
    background-repeat: no-repeat;
    background-size: 32px 33px;
    background-position: 11% 39%; 
    float: right;
}
.menu .crop {
    padding-left: 56px;
    padding-right: 20px;
    background: white;
    background-image: url("../img/crop.png");
    background-repeat: no-repeat;
    background-size: 30px 34.5px;
    background-position: 14% 39%;
   float: right;
}
.menu .order {
    padding-left: 56px;
    padding-right: 20px;
    background: white;
    background-image: url("../img/orders.png");
    background-repeat: no-repeat;
    background-size: 34px 35.5px;
    background-position: 13% 41%;
   float: right;
}

@media all and (max-width: 1056px) {
    .menu {
        font-size: 0px;
    }
    .menu .ship {
    background: white;
    width: 62px;
    height: 62px;
    background-image: url("../img/ship.png");
    background-repeat: no-repeat;
    background-size: 32px 33px;
    background-position: 47% 39%;
    float: right;
    }
    .menu .crop {
    background: white;
    width: 62px;
    height: 62px;
    background-image: url("../img/crop.png");
    background-repeat: no-repeat;
    background-size: 30px 34.5px;
    background-position: 47% 39%;
    float: right;
    }
    .menu .order {
    background: white;
    width: 62px;
    height: 62px;
    background-image: url("../img/orders.png");
    background-repeat: no-repeat;
    background-size: 34px 35.5px;
    background-position: 47% 41%;
    float: right;
    }
}

body {
    font-size: 19px;
    overflow-x: hidden;
}
.content_container {
    height: 100%;
}
#footer
{
    display: block;
    position: relative;
    bottom: 0px;
    width: 80%;
    margin: 0px auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.dataTable {
    position: relative;
    margin: 0px auto;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Override of Bootstrap*/
.container {
    width: 100%;
}
.content_container {

}
.form-signin {
    padding: 20px;
    margin: 0px auto;
    position: relative;
    width: 360px;
}.form-signin h2 {
    padding-bottom: 20px;
    font-size: 35px;
    text-align: center;
}.form-signin input, placeholder {
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}.form-signin label {
    display: inline;
    height: 45px;
    background-color: rgb(214, 214, 214);
    overflow: hidden;
    border-radius: 10px;
    width: calc(100% - 111px);
    font-size: 23px;
    line-height: 1.8;
    box-shadow: inset 0px 0px 5px 0px rgba(27, 27, 27, 0.23);
    margin-bottom: 40px;
    border: 1px solid rgb(165, 165, 165);
    margin-right: 11px;
    float: left;
}.form-signin label > input{
    height: 14px;
    position: relative;
    top: 10px;
    left: 20px;
}.form-signin label > span {
    margin-left: 30px;
}
.form-signin .btn {
    display: inline;
    background-color: #f3c351;
    background-image: none;
    font-size: 25px;
    box-shadow: inset 0px -4px 0 0px #CFA133;
    border: none;
    line-height: 1;
    padding-bottom: 14px;
    padding-top: 7px;
    float: right;
}
.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin-left: 20px;
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-top: 20px;
}
.order-select {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px 0px #dbdbdb;
}.order-select label {
    font-size: 20px;
    display: inline;
    padding-right: 5px;
    padding-left: 20px;
    position: relative;
    top: 2px;
}.order-select .value {
    position: relative;
    color: black;
    display: inline-block;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}.order-select select {
    background: whitesmoke;
    border-radius: 5px;
    text-indent: 10px;
    width: 120px;
}.order-select .btn {
    display: inline;
    background-color: #f3c351;
    background-image: none;
    font-size: 15px;
    box-shadow: inset 0px -4px 0 0px #CFA133;
    border: none;
    line-height: 1;
    margin: 0px auto;
    position: relative;
    padding: 6px 15px 10px 15px;
    border-radius: 5px;
    color: rgb(129, 100, 73);
    float: right;
    margin-right: 20px;
}

.view-label {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px 0px #dbdbdb;
}.view-label label {
    font-size: 22px;
    display: inline;
    color: rgb(175, 175, 175);
    padding-right: 5px;
    padding-left: 20px;
    position: relative;
    top: -12px;
}.view-label .value {
    font-size: 22px;
    position: relative;
    top: -12px;
}

.testing_api {
    padding: 30px;
    background: white;
    margin: 30px;
    border-radius: 20px;
}.testing_api h1{
    padding-bottom: 25px;
}.testing_api textarea {
    padding: 20px 10px 20px 10px;
    background-color: whitesmoke;
    border: 1px solid #ebebeb;
}.testing_api .btn {
    display: block;
    background-color: #f3c351;
    background-image: none;
    font-size: 25px;
    box-shadow: inset 0px -4px 0 0px #CFA133;
    border: none;
    line-height: 1;
    margin: 0px auto;
    position: relative;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: rgb(129, 100, 73);
    margin-top: 20px;
}


table {
    background: #E7E6E0;
    margin: 20px;
}thead {
    font-size: 24px;
}thead tr:first-child {
    background-color: #F5F4EF !important;
}tr {
    background-color: #F1F1ED;
}tr:nth-child(2n+1) {
    background: #E7E6E0;
}tr:hover {
    background: #f3c351;
}
td {
    max-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}






